<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">Digital <span>911</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/signup">Sign Up</a></li>
					<li><a>More coming soon!</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Digital 911</h1>
						<p>Quickly and quietly contact 911<br /> any time, any where, any language.</p>
					</header>
					<a href="/signup" class="button big scrolly">Sign Up</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">
				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>Text 911911</h2>
								<p>The D911 app helps EMS pinpoint your location after you've requested help.</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/images/flashlight-search.jpg" alt="" />
									</div>
									<p>Get help day or night, we guarantee a call will be made within 60 seconds of receiving your text.</p>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/images/trainstation.jpg" alt="" />
									</div>
									<p>We are committed to providing access to emergency services to everyone, regardless of the circumstance or location.</p>
									<a href="/signup" class="button">Learn More</a>
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="static/images/globe.jpg" alt="" />
									</div>
									<p>Request help in any of our growing list of supported languages*, EMS will be alerted to your preferred speaking language.</p>
								</div>
							</div>
						</div>
					</section>

			</div>
                                <!-- Section -->
                                        <section class="wrapper style1">
                                                <div class="inner">
                                                        <!-- 2 Columns -->
                                                                <div class="flex flex-2">
                                                                        <div class="col col1">
                                                                                <div class="image round fit">
                                                                                        <a href="/generic" class="link"><img src="static/images/police-car.jpg" alt="" /></a>
                                                                                </div>
                                                                        </div>
                                                                        <div class="col col2">
																			<h3>24 Hour Protection, Guaranteed</h3>
																			<p>$2/Month Fee</p>
																			<p>24/7 availability; guaranteed EMS contact within 60 seconds*</p>
																			<p>Multilingual support by text and phone*.</p>
																			<p>Close relations with local police, fire departments, and EMS.</p>
                                                                          	<a href="/giftforms" class="button">Get Started</a>
                                                                        </div>
                                                                </div>
                                                </div>
                                        </section>


		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-snapchat"><span class="label">Snapchat</span></a></li>
					</ul>
					<p>&copy; Digital 911. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash, PixaBay</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="static/js/jquery.min.js"></script>
			<script src="static/js/jquery.scrolly.min.js"></script>
			<script src="static/js/jquery.scrollex.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/util.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>
